<template name="home">
  <div class="sub-bar clearfix">
    <div class="container">
      <div class="pull-left">
        <span class = "counts blog-counts">
          Total Blogs: {{getPublishedCount 'blogsCount'}}
        </span>
      </div>
      <div class="pull-right">
      </div>
    </div> <!-- End Container -->
  </div> <!-- End Sub-bar -->

  {{#if noBlogs}}
    {{_ 'text_no_blogs'}} <!-- When no blog posts -->
  {{else}}
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row-fluid">
            {{#each blogs}}
              {{> homeListItem}}
            {{/each}}
          </div> <!-- End blogs items -->
          <div class="row-fluid">
            {{#if hasMore}}
              <a class="btn btn-default btn-block load-more">Load More</a>
            {{else}}
              {{#unless ready}}
                {{> listLoading}}
              {{/unless}}
            {{/if}}
          </div>
        </div>
        <div class="col-md-3">
          <!-- Space for Right -->
          Something here
        </div>
      </div>
    </div>
  {{/if}}
</template>

<template name="homeListItem">
  <div class="blog-item">
    <div class="blog-meta clearfix">

      <div class="pull-left">
        <div class ="blog-avatar">
          <img src="{{getAvatarAuthor}}">
        </div>
        <div class="blog-meta-info">
          <a href="" class="author">
            {{userDisplayName user}}
          </a>
          <span class="date">
            {{momentFromNow createdAt}}
          </span>
        </div>
      </div>

      <div class="pull-right">
        <!-- Space for Right side meta -->
      </div>
    </div>
    <h3>
      <a href="{{pathFor 'blogOne'}}">{{title}}
      </a>
    </h3>
    <div class="blog-item-content">
    <!-- <div class="line-clamp-2"> -->
      {{{content}}}
    </div>
  </div> <!-- End Blog Item -->
</template>
