<template name="navMain">

  <div class="aside-left">
    <div class="row-fluid">
      {{#if currentUser}}
        <div class="aside-profile">
          <div class="row-fluid" style="text-align:center;">
            <div class="avatar-wrapper-custom avatar-100">
              <img src="{{getAvatarUrl}}">
            </div>
          </div>
          <div class="row-fluid" style="text-align:center;">
            <a href="{{pathFor 'profileView'}}">
              {{userDisplayName currentUser}}
            </a>
          </div>
        </div>
        <!-- <button class="btn btn-link btn-block" data-action="signOut">{{_ 'command_sign_out'}}</button> -->
      {{else}}

      {{/if}}
    </div>

    {{> treeMenu}}
    {{> userStatus}}
  </div>

 </template>