
html,
body {
  height: 100vh;
  color: @light-font-base !important;
  -webkit-font-smoothing: antialiased;
}

#wrapper {
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  height: 100vh !important;
  background: @light-lightest;
}

#canvas {
  position: relative;
  background: @light-lightest;
  width: 100vw;
  min-height: 100%;
  -webkit-transition: 0.3s ease all;
          transition: 0.3s ease all;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.btn-toolbar .btn-group {
  padding: 5px 0;
  .btn {
    margin-top: 0;
    vertical-align: top;
  }
}

#inner-wrapper {
  min-height: 100vh;
  height: 100%;


}

.aside-left,
.aside-right,
article.page {
  -webkit-transition: all @slide-transition-time ease-out;
       -o-transition: all @slide-transition-time ease-out;
          transition: all @slide-transition-time ease-out;
}

.aside-right {
  position: absolute;
  top: 0;
  right: -@aside-right-width;
  padding: 5px 5px;
  //min-height: 100vh;
  min-height: 100%;
  width: @aside-right-width;
  border-left: 1px solid @navbar-default-border;
  background-color: @body-bg;
}

#wrapper.aside-right-set {
  #canvas {
    -webkit-transform: translateX(-@aside-right-width);
            transform: translateX(-@aside-right-width);
  }
}

.aside-left {
  position: absolute;
  top: 0;
  left: -@aside-left-width;
  padding: 5px 5px;
  //min-height: 100vh;
  min-height: 100%;
  width: @aside-left-width;
  border-right: 1px solid @navbar-default-border;
  background-color: @body-bg;
}

article.page {
  //position: absolute;
  //top: 0;
  // padding: 5px;
  // width: calc(~'100% - @{aside-left-width}');
  // -webkit-transform: translateX(@aside-left-width);
  //         transform: translateX(@aside-left-width);
}

// Aside Left Set in Desktop means Aside is ***"OFF"***
#wrapper.aside-left-set {
  #canvas {
    -webkit-transform: translateX(@aside-left-width);
            transform: translateX(@aside-left-width);
  }
  // .aside-left {
  //   -webkit-transform: translateX(-@aside-left-width);
  //           transform: translateX(-@aside-left-width);
  // }
  // article.page {
  //   width: 100%;
  //   -webkit-transform: translateX(0);
  //           transform: translateX(0);
  // }
}

/**
 *    Bars
 */
.sub-bar {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  height: 35px;
  border-bottom: 1px solid @gray-lighter;
  span {
    // vertical-align: middle;
  }
  a {
    // vertical-align: middle;
  }
}

/**
 *    Spans
 */
.blog-counts {
  font-size: 0.8em;
}

span.counts {
  .upper-small;
  .bold;
  color: @light-font-base;
}

/**
 *
 *    Blogs
 *
 */

.blog-item {
  // &:first-child {
  //   border-top: 1px solid @gray-lighter;
  // }
  display: block;
  padding: 30px 0;
  border-bottom: 1px solid @gray-lighter;
  a {
    text-decoration: none;
    color: @light-font-base;
  }

}

.blog-item-content {
  max-height: 90px;
  overflow: hidden;
}

.blog-meta .blog-avatar {
  display: table-cell;
  width: 37px;
  height: 37px;
  // border-radius: 50%;
  overflow: hidden;
  img {
    margin-left: 50%;
    width: 100%;
    .translate(-50%, 0);
  }
}

.blog-meta-info {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  a.author {
    color: @brand-success;
  }
  span {
    display: block;
    font-size: 0.8em;
    color: @gray-light;
  }
}

/**
 *    Buttons
 */

.btn-round {
  border-radius: 50px;
  vertical-align: middle;
}

.btn-primary {
}


/**
 * Better Font Smoothing on Different Devices
 * http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx) {
  body {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}